<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Code 15 Signup</title>
</head>
<body>
    <h1>Signup with Code 15</h1>
    <form>
        <div>
            <label>First Name</label>
            <input type="text" name="fname">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lname">
        </div>
        <div>
            <label>Date Of Birth</label>
            <input type="date" name="date-of-birth">
        </div>
        <div>
            <label>Gender</label>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" >
        </div>
        <div>
            <label>Organisation</label>
            <ipnut type="text" name="organisation">
        </div>
        <div>
            <labe>Username</labe>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="pwd1">
        </div>
        <div>
            <label>Comfirm Password</label>
            <input type="password" name="pwd1">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign UP</button>
        </div>
    </form>
    <script src="./script.js"></script>
</body>
</html>